
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorLog</title>
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-lg-8">
            <div class="jumbotron">
                <h4>Oop's Some Thing Went Going Wrong...Please Try Again. :)</h4>
                <a href="@Url.Action("Signup","Users")" class="btn btn-default">Back to Signup</a>
            </div>
        </div>
    </div>
</body>
</html>
