
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorLog</title>
    <link href="~/Content/Icons/download.png" rel="icon" type="image/x-icon" />
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-lg-10 offset-1">
            <div class="jumbotron text-center" style="margin-top: 24%;border: 2px solid maroon">
                <h4 style="font-family: cursive">Oop's Some Thing Went Going Wrong...Please Try Again. :)</h4>
                <a href="@Url.Action("Signup","Users")" class="btn btn-default">Back to Signup</a>
            </div>
        </div>
    </div>
</body>
</html>
