body {
    margin: 0px;
    padding: 0px;
}

.logo {
    background-color: #512DA8;
    color: white;
    margin-left: 28%;
    width: 47%;
    height: 33px;
    border-radius: 21px;
}

.bg-totalq {
    background-color: #512DA8;
    font-size: 18px;
    margin-right: 42%;
    width: 40%;
    height: 32px;
    color: white;
    border-radius: 21px;
}
