body {
    margin: 0px;
    padding: 0px;
}

.title {
    border-radius: 21px;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: #512DA8;
}

.bg-totalq {
    background-color: #512DA8;
    font-size: 14px;
    height: 32px;
    color: white;
    border-radius: 21px;
    padding: 5px;
}
