
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-header deep-purple white-text">
                Featured
            </div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-success btn-sm">Go somewhere</a>
            </div>
            <div class="card-footer text-muted deep-purple white-text">
                <p class="mb-0">2 days ago</p>
            </div>
        </div>
    </div>
</div>
