
@{
    ViewBag.Title = "QuizInstructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>QuizInstructions</h2>
<a href="@Url.Action("ConductQuiz","Quiz",new{id=ViewBag.quizid})" class="btn btn-default">Getting Start</a>
