
@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <header>
        <div class="float-left">Quiz Topic</div>
        <div class="float-right">LK'Apps.Com</div>
    </header>
    <main>
        <form class="question-form" id="q1" dataa-question="1"></form>
    </main>
</div>
