
@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <header>
        <div class="float-left">Quiz Topic</div>
        <div class="float-right">LK'Apps.Com</div>
    </header>
    <main>
        <form class="question-form" id="q1" dataa-question="1">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q2" dataa-question="2">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q3" dataa-question="3">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q4" dataa-question="4">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q5" dataa-question="5">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
    </main>
</div>
