
@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <header>
        <div class="float-left">Quiz Topic</div>
        <div class="float-right">LK'Apps.Com</div>
    </header>
    <main>
        <form class="question-form" id="q1" data-question="1">
            <h3>1.Which Tag we used to represent the "Header" in html.?</h3>
            <ul>
                <li><input type="radio" name="q1" value="a" />&lt;header&gt;</li>
                <li><input type="radio" name="q1" value="b" />&lt;head&gt;</li>
                <li><input type="radio" name="q1" value="c" />&lt;main&gt;</li>
                <li><input type="radio" name="q1" value="d" />&lt;heading&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q2" data-question="2">
            <h3>2.Which of the Following is NOT New Feature of html5.?</h3>
            <ul>
                <li><input type="radio" name="q2" value="a" />New Media Element</li>
                <li><input type="radio" name="q2" value="b" />Local Storage</li>
                <li><input type="radio" name="q2" value="c" />Cookie</li>
                <li><input type="radio" name="q2" value="d" />Form Input Types</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q3" data-question="3">
            <h3>3.Which Element is Most Appropriate to Wrap the Blog Post Content.?</h3>
            <ul>
                <li><input type="radio" name="q3" value="a" />&lt;section&gt;</li>
                <li><input type="radio" name="q3" value="b" />&lt;artical&gt;</li>
                <li><input type="radio" name="q3" value="c" />&lt;aside&gt;</li>
                <li><input type="radio" name="q3" value="d" />&lt;post&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q4" data-question="4">
            <h3>4.Which HTML Tag is used for side bar.?</h3>
            <ul>
                <li><input type="radio" name="q4" value="a" />&lt;aside&gt;</li>
                <li><input type="radio" name="q4" value="b" />&lt;sidebar&gt;</li>
                <li><input type="radio" name="q4" value="c" />&lt;sub&gt;</li>
                <li><input type="radio" name="q4" value="d" />&lt;side&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
        <form class="question-form" id="q5" data-question="5">
            <h3>5.Using Canvas which is used to color the rectanfle.?</h3>
            <ul>
                <li><input type="radio" name="q5" value="a" />&lt;strokestyle&gt;</li>
                <li><input type="radio" name="q5" value="b" />&lt;fillRect&gt;</li>
                <li><input type="radio" name="q5" value="c" />&lt;strokefill&gt;</li>
                <li><input type="radio" name="q5" value="d" />&lt;rectfill&gt;</li>
            </ul>
            <button id="submit" class="btn btn-outline-deep-purple">Submit</button>
        </form>
    </main>
</div>
<script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/MDB-Free/js/quiz.js"></script>
