
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-8 offset-2 text-center" style="margin-top: 8%">
    <div class="jumbotron">
        <h2>Your Test Result Information Here</h2>
        <h5>Your Total Attempted Question is :<bold> 10 </bold></h5>
        <h5>Your Total Correct Question is :<bold class="text-default"> 8 </bold></h5>
        <h5>Your Total Wrong Question is :<bold class="text-danger"> 2 </bold></h5>
        <h5>Your Total Score of That Quiz is : <bold>8</bold> out of : 10</h5>
        <button class="btn btn-default mt-2 waves-effect waves-light"><span class="fa fa-sync fa-lg"></span>&nbsp;&nbsp;You Want to Take Again</button>
    </div>
</div>
